// Import partials
@import 'variables';
@import 'navigation';
@import 'mixins';

// BASIC STYLES
body {
  font-family: $font-family;
  font-size: 1em;
  line-height: 2em;
  background: $background-image #FFF repeat-x;
  margin: 0;
}

// NAVIGATION
figure {
  width: 400px;
  height: 190px;
  background: url('../images/logo.png') no-repeat 0 50px;
  float: left;
  display: block;
  margin: 0;
}

nav {
  width: 540px;
  height: 190px;
  float: left;
  text-align: right;

  ul {
    list-style-type: none;
    margin-top: 95px;

    li {
      display: inline;
      font-size: 0.8em;
      margin-right: 10px;

      a {
        color: $primary-color;
        text-decoration: none;
        letter-spacing: -0.01em;

        &:hover {
          color: #FFF;
        }
      }
    }
  }
}

// HEADER
header {
  width: inherit;
  clear: both;
  text-align: center;
  padding-top: 40px;

  img {
    max-width: 100%;
    height: auto;
  }

  h1 {
    color: $primary-color;
    font-weight: 100;
    font-size: 4em;
    line-height: 0;
  }

  h2 {
    color: #FFF;
    font-weight: 900;
    font-size: 2.5em;
    line-height: 0;
    margin-bottom: 70px;
  }

  h3 {
    color: #666;
    font-weight: 400;
    font-size: 2em;
    line-height: 0;
    margin-bottom: 50px;
  }
}

// Example of using the 'box' mixin
.example-box {
  @include box($background-color: #F5F6F6, $border: 1px solid #999, $padding: 20px);
}

// Example of using the 'breakpoint' mixin
@media screen and (max-width: 959px) {
  // Styles specific to this media query
  .responsive-element {
    width: 100%;

    @include breakpoint(768px) {
      width: 50%;
    }
  }
}

